<rubber-outlet>
  <div>
    <ui-header
      [title]="'Launchpad'"
      [avatar]="{url: '/assets/m-logo.svg'}"
    >
      <nz-button-group extra [nzSize]="'small'">
        <button
          nz-button
          [nzType]="'default'"
          [routerLink]="['notification']"
          [routerLinkActive]="'ant-btn-primary'"
          [relativeTo]="route"
        >
          <span nz-icon nzType="notification" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          [nzType]="'default'"
          [routerLink]="['exit']"
          [routerLinkActive]="'ant-btn-primary'"
          [relativeTo]="route"
        >
          <span nz-icon nzType="logout" nzTheme="outline"></span>
        </button>
      </nz-button-group>
      <nz-card
        [nzBordered]='false'
        [nzBorderless]='true'
        [nzSize]='"small"'
        [nzActions]="[saveTpl, renameTpl, removeTpl]"
      >
        <ng-template #saveTpl>
          <span nz-icon nzType="save" nzTheme="outline"></span>
        </ng-template>
        <ng-template #renameTpl>
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </ng-template>
        <ng-template #removeTpl>
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </ng-template>
        <nz-card-meta [nzDescription]="descriptionTpl">
          <ng-template #descriptionTpl>
            <div>
              <a>
                <span nz-icon nzType="cluster" nzTheme="outline"></span>
                My workspace
              </a>
            </div>
            <div>
              <a>
                <span nz-icon nzType="layout" nzTheme="outline"></span>
                Current Tab
              </a>
            </div>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </ui-header>
    <ui-navigation-item
      [title]='"Applications"'
      [avatar]='{icon: "appstore"}'
      [routerLink]='["applications"]'
      [relativeTo]='route.root'
    ></ui-navigation-item>
    <ui-navigation-item
      [title]='"Workspaces"'
      [avatar]='{icon: "cluster"}'
      [routerLink]='["workspaces"]'
      [relativeTo]='route.root'
    ></ui-navigation-item>
    <ui-navigation-item
      [title]='"Tabs"'
      [avatar]='{icon: "layout"}'
    ></ui-navigation-item>
    <ui-navigation-item
      [title]='"Settings"'
      [avatar]='{icon: "setting"}'
      [routerLink]='["settings"]'
      [relativeTo]='route.root'
      [routerLinkActive]="'active'"
    ></ui-navigation-item>
  </div>
</rubber-outlet>
