<rubber-outlet>
  <ui-header
    [title]="'Applications'"
    [avatar]="{icon: 'appstore'}"
    [back]="['']"
  >
    <nz-segmented extra [nzOptions]="options"></nz-segmented>
    <nz-button-group extra [nzSize]="'small'">
      <button
        nz-button
        [nzType]="'default'"
        [routerLink]="[{outlets: { process: 'application-create' }}]"
        [routerLinkActive]="'ant-btn-primary'"
        [relativeTo]="route.root"
      >
        <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-input-group nzSearch [nzAddOnAfter]="filterCategoryTpl">
      <ng-template #filterCategoryTpl>
        <button
          nz-button
          [nzSearch]="true"
          [nzType]="'default'"
          [routerLink]="['filter']"
          [routerLinkActive]="'ant-btn-primary'"
          [relativeTo]="route"
        >
          <span nz-icon nzType="filter" nzTheme="outline"></span>
        </button>
      </ng-template>
      <input nz-input placeholder="Application filter" />
    </nz-input-group>
  </ui-header>
  <div class="applications">
    <ng-container *ngFor="let application of applications">
      <ui-navigation-item
        [title]="application.title"
        [avatar]="{url: application.icon}"
        [description]="application.userProperties['category']"
        [active]="!!application.instances?.length"
        (click)="startApplication(application)"
      >
        <nz-button-group [nzSize]="'small'">
          <button
            nz-button
            [nzType]="'default'"
            [routerLink]="['details', application.name]"
            [routerLinkActive]="'ant-btn-primary'"
            [relativeTo]="route"
            (click)="$event.stopPropagation()"
          >
            <span nz-icon nzType="info" nzTheme="outline"></span>
          </button>
        </nz-button-group>
      </ui-navigation-item>
    </ng-container>
  </div>
</rubber-outlet>
