<rubber-outlet>
  <ui-header
    [title]="'Applications'"
    [avatar]="{icon: 'appstore'}"
    [back]="['toolbar']"
    [relativeTo]="route.root"
  >
    <nz-segmented extra [nzOptions]="options"></nz-segmented>
    <nz-button-group extra [nzSize]="'small'">
      <button
        nz-button
        [nzType]="'default'"
        [routerLink]="[{outlets: { process: 'application-create' }}]"
        [routerLinkActive]="'ant-btn-primary'"
        [relativeTo]="route.root"
      >
        <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-input-group nzSearch [nzAddOnAfter]="filterCategoryTpl">
      <ng-template #filterCategoryTpl>
        <button
          nz-button
          [nzSearch]="true"
          [nzType]="'default'"
          [routerLink]="['filter']"
          [routerLinkActive]="'ant-btn-primary'"
          [relativeTo]="route"
        >
          <span nz-icon nzType="filter" nzTheme="outline"></span>
        </button>
      </ng-template>
      <input nz-input placeholder="Application filter" />
    </nz-input-group>
  </ui-header>
  <div class="applications">
    <ng-container *ngFor="let application of applications">
      <ui-navigation-item
        [title]="application.title"
        [avatar]="{url: application.icon}"
        [description]="application.userProperties['category']"
        [routerLink]="['details', application.name]"
        [routerLinkActive]="'active'"
        [relativeTo]="route"
      >
        <nz-button-group [nzSize]="'small'">
          <button
            nz-button
            [nzType]="'default'"
            [nzLoading]="loading.has(application.name)"
            (click)="start(application)"
            [class.ant-btn-primary]="application.instances.length"
            [disabled]="!!application.instances.length && !application.allowMultiple"
          >
            <span nz-icon nzType="caret-right" nzTheme="outline"></span>
          </button>
        </nz-button-group>
      </ui-navigation-item>
    </ng-container>
  </div>
</rubber-outlet>
