<ui-process [title]="'Create Application'">
  <div class="process">
    <nz-steps [nzCurrent]="0" nzDirection="vertical">
      <nz-step nzIcon="file-done" nzTitle="Configuration" nzDescription="On this step you can configure new Application name and Base application config data"></nz-step>
      <nz-step nzIcon="warning" nzTitle="JSON Configuration" nzDescription="This is Glue details application configuration based on JSON scheme. Please be careful with this."></nz-step>
      <nz-step nzIcon="file-protect" nzTitle="Verification" nzStatus="finish"></nz-step>
      <nz-step nzIcon="audit" nzTitle="Activation" nzDescription="Activation Application"></nz-step>
    </nz-steps>
    <nz-layout>
      asdsad
    </nz-layout>
  </div>
</ui-process>
