<rubber-outlet>
  <ui-header
    [title]="tab?.name"
    [avatar]="{icon: 'layout'}"
    [back]="['.']"
  >
    <nz-button-group extra [nzSize]="'small'">
      <button nz-button [nzType]="'default'" [routerLink]="['new-version']" [routerLinkActive]="'primary'" [relativeTo]="route">
        <span nz-icon nzType="copy" nzTheme="outline"></span>
      </button>
      <button nz-button
              [nzType]="'default'" [routerLink]="['new-version']" [routerLinkActive]="'primary'" [relativeTo]="route">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-card
      [nzBorderless]="true"
      [nzBordered]="false"
    >
      <div
        *ngFor="let component of tab?.components"
        nz-card-grid
        [ngStyle]="gridStyle"
      >
        {{$any(component).application}}
      </div>
    </nz-card>
  </ui-header>
  <ui-navigation-item
    [title]='"Access List"'
    [avatar]='{icon: "user-switch"}'
    [routerLink]='["access-list"]'
  ></ui-navigation-item>
  <ui-navigation-item
    [title]='"Bug Report"'
    [avatar]='{icon: "bug"}'
    [routerLink]='["report"]'
    [routerLinkActive]="'active'"
    [danger]="true"
  ></ui-navigation-item>
</rubber-outlet>
