<ng-container [ngSwitch]="notificationValue.type">
  <span
    *ngSwitchCase="'success'"
    nz-icon
    nzType="check-circle"
    class="notification-icon ant-notification-notice-icon-success"
  ></span>
  <span
    *ngSwitchCase="'info'"
    nz-icon
    nzType="info-circle"
    class="notification-icon ant-notification-notice-icon-info"
  ></span>
  <span
    *ngSwitchCase="'warning'"
    nz-icon
    nzType="exclamation-circle"
    class="notification-icon ant-notification-notice-icon-warning"
  ></span>
  <span
    *ngSwitchCase="'error'"
    nz-icon
    nzType="close-circle"
    class="notification-icon ant-notification-notice-icon-error"
  ></span>
  <span
    *ngSwitchCase="'application'"
    nz-icon
    nzType="appstore"
    class="notification-icon"
  ></span>
  <span
    *ngSwitchCase="'layout'"
    nz-icon
    nzType="appstore"
    class="notification-icon"
  ></span>
  <span
    *ngSwitchCase="'workspace'"
    nz-icon
    nzType="appmanager"
    class="notification-icon"
  ></span>
</ng-container>

<div class="title" [innerHTML]="notificationValue.title"></div>
<div class="content">
  <ng-container *ngFor="let part of notificationMessage">
    <ng-container
      *ngIf="part.type === 'text'"
      [ngTemplateOutlet]="textTpl"
      [ngTemplateOutletContext]="{$implicit: part.data}"
    ></ng-container>
    <ng-container
      *ngIf="part.type === 'application'"
      [ngTemplateOutlet]="applicationTpl"
      [ngTemplateOutletContext]="{$implicit: part.data}"
    ></ng-container>
    <ng-container
      *ngIf="part.type === 'no-application'"
      [ngTemplateOutlet]="noApplicationTpl"
      [ngTemplateOutletContext]="{$implicit: part.data}"
    ></ng-container>
  </ng-container>
</div>
<ng-template #textTpl let-text>
  <span [innerHTML]="text"></span>
</ng-template>
<ng-template #layoutTpl>

</ng-template>
<ng-template #applicationTpl let-application>
  <button
    nz-button
    [nzType]="'link'"
    (click)="application.start()"
  >
    <span nz-icon nzType="appstore" nzTheme="outline"></span>
    {{application.title}}
  </button>
</ng-template>
<ng-template #noApplicationTpl let-application>
  <span
    nz-typography
    nzType="warning"
  >[You have no access to {{application.title}}</span>
  <button
    nz-button
    [nzDanger]="true"
    [nzType]="'link'"
  >
    <span nz-icon nzType="appstore" nzTheme="outline"></span>
    Request
  </button>
  <span
    nz-typography
    nzType="warning"
  >]</span>
</ng-template>
<ng-template #workspaceTpl>

</ng-template>
