<ng-container [ngSwitch]="notification.type">
  <span
    *ngSwitchCase="'success'"
    nz-icon
    nzType="check-circle"
    class="notification-icon ant-notification-notice-icon-success"
  ></span>
  <span
    *ngSwitchCase="'info'"
    nz-icon
    nzType="info-circle"
    class="notification-icon ant-notification-notice-icon-info"
  ></span>
  <span
    *ngSwitchCase="'warning'"
    nz-icon
    nzType="exclamation-circle"
    class="notification-icon ant-notification-notice-icon-warning"
  ></span>
  <span
    *ngSwitchCase="'error'"
    nz-icon
    nzType="close-circle"
    class="notification-icon ant-notification-notice-icon-error"
  ></span>
  <span
    *ngSwitchCase="'application'"
    nz-icon
    nzType="appstore"
    class="notification-icon"
  ></span>
  <span
    *ngSwitchCase="'layout'"
    nz-icon
    nzType="appstore"
    class="notification-icon"
  ></span>
  <span
    *ngSwitchCase="'workspace'"
    nz-icon
    nzType="appmanager"
    class="notification-icon"
  ></span>
</ng-container>

<div class="title" [innerHTML]="notification.title"></div>
<div class="content" [innerHTML]="notification.message"></div>
<ng-container [ngSwitch]="notification.type">
  <ng-container *ngSwitchCase="'layout'" [ngTemplateOutlet]="layoutTpl"></ng-container>
  <ng-container *ngSwitchCase="'application'" [ngTemplateOutlet]="applicationTpl"></ng-container>
  <ng-container *ngSwitchCase="'workspace'" [ngTemplateOutlet]="workspaceTpl"></ng-container>
</ng-container>
<ng-template #layoutTpl>

</ng-template>
<ng-template #applicationTpl>
  <button
    nz-button
    [nzType]="'link'"
    *ngIf="notification.type === 'application'"
    (click)="notification.data.application.start()"
  >
    {{notification.data.application.title}}
  </button>
</ng-template>
<ng-template #workspaceTpl>

</ng-template>
