:host {
  transition: 1s;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: fit-content(0) fit-content(0) fit-content(0);
  grid-template-columns: 40px 280px;
  grid-template-areas: "icon title" "empty content" "empty outlet";
  grid-gap: 4px;
}
.title {
  grid-area: title;
}
.content {
  grid-area: content;
}
.outlet {
  grid-area: outlet;
}
.notification-icon {
  grid-area: icon;
  font-size: 26px;
  align-self: center;
  justify-self: center;
}
