<rubber-outlet>
  <ui-header
    [title]="'Send Notification'"
    [avatar]="{icon: 'notification'}"
    [back]="['']"
  >
    <nz-button-group extra [nzSize]="'small'">
      <button nz-button [nzType]="'default'" (click)='send(input.value)'>
        <span nz-icon nzType="message" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-mention
      [nzSuggestions]="applications"
      [nzValueWith]="valueWith"
      (nzOnSelect)="onSelect($event)"
    >
      <textarea #input rows="5" nz-input nzMentionTrigger></textarea>
      <ng-container *nzMentionSuggestion="let application">
        <nz-avatar nzSize="small" [nzSrc]="application.icon"></nz-avatar>
        <span>{{ application.title }} - {{ application.version }}</span>
      </ng-container>
    </nz-mention>
  </ui-header>
</rubber-outlet>
